

@media (max-width:1023px){
  .header_menu{
    position: fixed;
    height: 100%;;
    width: 280px;
    top: 0;
    left: 0;
    padding: 2rem;
    transition: 0.7s;
    transform:translate(-100vh);
    background-color: white;
  }
  .responsive_menu {
    transform: translate(0);
    opacity: 1;
    background: white;
  }
}